/* 
  page module styles
*/
.app_title {
  padding: 1.5rem 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 2rem;
  color: rgba(17,24,39,1);
  vertical-align: middle;
}

.app_icon {
  margin-right: 0.5rem;
}

.app_content {
  margin: 0 1rem;
}